__pycache__/
venv/
config.ini
nodes*.json
updated*.json
reservedNodes*.json
removedNodes*.json
update_summary.txt
repeaterOwners*.json
offReserved*.json
placeholder.txt
.DS_Store
last_update*
reaction*.json