[Unit]
Description=MeshBuddy Discord Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/MeshBuddy
ExecStart=/home/ubuntu/MeshBuddy/venv/bin/python -O /home/ubuntu/MeshBuddy/hikari_bot.py
Restart=on-failure

[Install]
WantedBy=multi-user.target